@import "tailwindcss";
@import "lenis/dist/lenis.css";

:root {
  --background: #ddddd8;
  --foreground: #141414;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-quicksand), sans-serif;
  --font-heading: var(--font-tanker), sans-serif;
  --font-tanker: var(--font-tanker), sans-serif;
  --font-quicksand: var(--font-quicksand), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

html {
  background-color: #ddddd8;
  color: #141414;
  scroll-behavior: auto;
  font-family: var(--font-quicksand), sans-serif;
}

body {
  background-color: #ddddd8;
  color: var(--foreground);
  font-family: var(--font-quicksand), sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-tanker), sans-serif;
}

.hero-heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

.svg-7 path {
  fill: currentColor;
}
